<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Person List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Person List</h1>
      <a href="addBlog">Add New Blog</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Blog title</th>
               <th>Blog Content</th>
               <th></th>
            </tr>
            <tr th:each ="blog : ${blogs}">
               <td th:utext="${blog.title}">...</td>
               <td th:utext="${blog.content}">... </td>
               <td th:utext="${blog.comments}">... </td> 
               <td> <a th:href="@{'/blogList/' + ${blog.id} + '/delete'}">Delete</a> </td>
               <td> <a th:href="@{'/blogList/' + ${blog.id} + '/edit'}">Edit</a> </td>
            </tr>
         </table>
      </div>
   </body>
</html>